
.box_shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.34);
}
.box_radius {
    border-radius: 10px;
}
.bg-video-consultation {
    background: linear-gradient(94deg, rgba(13, 77, 227,1) 0%, rgba(69, 120, 245,1) 24%, rgba(49, 106, 244,1) 100%);
}
.banner_heading span {
    font-size: 50px;
    font-weight: bold;
}
.banner_heading h1 {
    margin: 20px 10px 0 0;
}
.contst_text{
    font-size:30px !important;
}
.banner_left_section {
    padding: 100px 0 30px 20px;
}
.banner_heading {
    color: #fff;
    margin-bottom: 30px;
}
.location_input input {
    padding: 1.375rem 0.75rem;
}
.location_input span{
    /*position: absolute;*/
    right: 12px;
    top: 15px;
}
.banner_location input, #online-consultation-search input, 
#main_sticky_header input, #sticky_location input {
    color: #000 !important;
}
/*.location_input .fa-map-marker {
    position: absolute;
    margin-left: 5px;
    height: 25px;
    display: flex;
    color: #073B4C;
    align-items: center;
    right: 25px;
    top: 10px;
}*/
.view-profile-btn a {
    padding: 6px 30px;
}
.specalities-image, .doctor-in-pakistan {
    transition: all linear 0.25s;
}
.specalities-image .red_circle {
    background: #ff465c;
}
.doctor-blog-under-content {
    height: 90px;
    overflow: hidden;
}
.specalities-image:hover, .doctor-in-pakistan:hover {
    transform: scale(1.1);
}
.circle_anchor {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.specalities-image .green_circle {
    background: #00cc8c;
}

.specalities-image .blue_circle {
    background: #0090ba;
}
.search-consultant-image span {
    margin: 6px;
}
.bg-search-consultant {
    background-color: #007acf;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 25px;
    height: 55px;
}
.slick-prev, .slick-next{
    width: 30px !important;
    height: 45px !important;
    z-index: 2 !important;
}
.slick-prev:before {
    content: '' !important;
    background-image: url(../../images/Chevron_Left.png);
    position: absolute;
    left: 0;
    top: -25;
    background-repeat: no-repeat;
    width: 40px;
    height: 45px;
    background-size: 25px 45px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 25px;
    height: 55px;
}
.box_height{
    min-height: 215px;
}
.slick-next:before {
    content: '' !important;
    background-image: url(../../images/Chevron_Right.png);
    position: absolute;
    left: 0;
    top: -25;
    background-repeat: no-repeat;
    width: 40px;
    height: 45px;
    background-size: 25px 45px;
}
.carousel-control-next, .carousel-control-prev{
    width: 5%!important;
    bottom: inherit !important;
    top: 40% !important;
}
.carousel-control-prev{
    left: -60px;
}
.carousel-control-next{
    right: -60px;
}
.icon_color .collapsed:after {
    color: #08CD8F;
}
.faq_accordian .collapsed:after {
    content: "\f067" !important;
    font-size: 14px;
}
[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg);
}
[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    content: "\f107";
    transform: rotate(180deg);
    transition: all linear 0.25s;
    float: right;
    top: 4px;
    position: relative;
    color: #000;
}
.faq_accordian [data-toggle="collapse"]:after {
    content: "\f068" !important;
    font-size: 14px;
}
.faq_accordian .collapsed:after {
    content: "\f067" !important;
    font-size: 14px;
}

.collapse-body {
    background: none;
    border: none;
}

.custom_divider {
    border-top: 1px solid #8B8B8B !important;
}
.dropdown-divider {
    margin: 0px;
}

.phone_number p {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}
.phone_number input, .phone_number input:focus {
    border-color: #ced4da;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80% !important;
}
.mobile_notes {
    line-height: 45px;
}
.mobile_notes i {
    color: #06D6A0;
}
.phone_number span {
    top: 1px;
    right: 0px;
}
.bg-subscribe-enter-email {
    background-color: #522D76;
}
.care-section-circle-image {
    top: -22px;
    left: 13%;
}
.care-section-circle {
    background-image: linear-gradient(#25B2CE, #06D6A0);
    height: 360px;
}

.specialities-background{
    background-color: #fff !important;
}
.video_calling_section{
    background-color: #e5e5e5;
    margin-top: 20px;
}
.doctor-faqs{
   background-color: #e5e5e5;
}
.heading-doctor-video-calling h2,.speacialities-heading h2, .heading-how-it-work h2,.heading-benefits-online-consultation h2,.heading-health-problem-pakistan h2,.heading-doctor-blog-tips h2,.heading-online-chat-experience h2,.faq-heading h2, .mobile_section_heading h2 {
    font-size: 30px;
}
.mobile_section_heading p {
    font-size: 50px;
}
/*.form-control:focus{
    border-color: transparent !important;
}*/
.banner_left_section input{
    border: none;
}
.knockdoc_doctor_profile_btn {
    color: #EA4335;
    background-color: #ffffff;
    border: 1px solid #EA4335;
    padding: 6px 30px;
}
.health_articles{
    max-height: 200px !important;
    min-height: 200px !important;
}
.mobile_notes p {
    margin-left: 33px;
    line-height:33px;
}
.ios_img, .android_img {
    width: 20%;
    margin-right: 40px;
}
#online-consultation-search input:focus{
    border:none !important;
}
/*.banner_btn{
    padding:0.7rem 0.75rem !important;
}*/