
@media (max-width: 1024px) {
.product-detail-categories {
    padding-left:0 !important;
}
.dropdown-add-to-cart {
    display: none;
    top: 5rem !important;
    width: 500px !important;
    left: 48% !important;
}

}

@media (max-width: 991px) {
.product-detail-slider .slick-prev {
    width: 40px !important;
    height: 30px !important;
    left: -15px;
}
.shoping-cart-btn sup span{
    right: -33px !important;
    width: 22px !important;
    height: 22px !important;
    padding-top: 12px !important;
    top: -10px !important;
}
.show-cart span i{
    font-size:22px !important;
}
.product-login{
    margin-right:0 !important;
}
.product-login a{
    padding-right:0 !important;
}
.slider-review-listing {
    top: 0;
}
.dropdown-add-to-cart {
    display: none;
    top: 5rem !important;
    width: 450px !important;
    left: 38% !important;
}
::-webkit-scrollbar, ::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}
/*.monthly-offer-product {
    overflow-y: hidden;
    overflow-x: auto;
    flex-wrap: inherit;
}*/
.product-detail-slider .slick-prev:before {
    font-size: 30px !important;
    left: 5px !important;
    top: -2px !important;
}
.product-detail-slider .slick-next {
    width: 40px !important;
    height: 30px !important;
    right: -11px;
}
.product-detail-slider .slick-next:before {
    font-size: 30px !important;
    right: 5px !important;
    top: -2px !important;
}



}
@media (max-width: 767px) {
.container {
    max-width: 720px;
}
.product-detail-slider .slick-prev {
    width: 40px !important;
    height: 30px !important;
    left: 0;
}
.product-detail-slider .slick-prev:before {
    font-size: 30px !important;
    left: 5px !important;
    top: -2px !important;
}
.product-detail-slider .slick-next {
    width: 40px !important;
    height: 30px !important;
    right: 0;
}
.product-detail-slider .slick-next:before {
    font-size: 30px !important;
    right: 5px !important;
    top: -2px !important;
}


}
@media (max-width: 576px) {
    #product-add-cart-modal .modal-dialog {
   margin:0;
}
#product-add-cart-modal .modal-content {
    min-height:100vh;
}
.product-detail-slider .slick-prev {
    left: 0 !important;
    width: 25px !important;
    height: 25px !important;
    top: 50%;
}
.dropdown-add-to-cart {
    display: none;
    top: 4rem !important;
    width: 450px !important;
    left: 23% !important;
}
.dropdown-add-to-cart {
    left: 9px !important;
    width: 342px !important;
}
.shoping-cart-btn span{
    right: 0 !important;
}
.bussiness-btn{
    display: none !important;
}
.col-product {
    flex: 0 0 100%;
    max-width: 100%;
}
.product-contact{
    width: 70% !important;
    text-align: center;
}
.product-contact a{
    float: right !important;
}
.shoping-cart-btn{
    width: 30%;
}
.product-detail-slider .slick-prev:before {
    font-size: 25px !important;
    top: -2px !important;
    left: 0 !important;
    font-weight: 700;
}
.product-detail-slider .slick-next {
    right: 0 !important;
    width: 25px !important;
    height: 25px !important;
    top: 50%;
}
.product-detail-slider .slick-next:before {
    font-size: 25px !important;
    top: -2px !important;
    right: 0 !important;
    font-weight: 700;
}
.customer-image img {
    width: 50px;
    height: 50px;
}


}

@media (max-width: 567px) {
.dropdown-add-to-cart {
    left: 18px !important;
    width: 378px !important;
}

}

@media (max-width: 414px) {
    #bv-modal-loading .modal-sm {
        margin: 0.5rem 0;
    }
    #bv-modal-loading .modal-body {
        padding: 0;
    }
    #bv-modal-loading {
        transform: translate(0, 30%) !important;
    }
    .v-spinner {
        width: 85%;
        margin: 0 auto;
    }
    .age_label {
        width: 10%;
    }
}
@media (max-width: 389px) {
.dropdown-add-to-cart {
    left: 16px !important;
    width: 342px !important;
}

}

@media (max-width: 360px) {
    #bv-modal-loading {
        transform: translate(26%, 40%);
    }
.dropdown-add-to-cart {
    left: 9px !important;
}


}

@media (max-width: 320px) {
.shoping-btn a {
    padding: 5px 25px;
}
.dropdown-add-to-cart {
    left: 9px !important;
    width: 300px !important;
}



}
@media (max-width: 290px) {
.shoping-btn a {
    padding: 5px 18px;
}
.dropdown-add-to-cart {
    display: none;
    left: 5px !important;
    width: 278px !important;
}



}