.discount-input {
    padding: 3px 0 5px 0;
    height: 40px;
    width:30%;
}
.discount-input .number-input {
    height: 30px;
    width: 40%;
}
figure.zoom img:hover {
    opacity: 0;
  }
  figure.zoom img {
    transition: opacity 0.5s;
    display: block;
    width: 100%;
    height: 100%;
  }
.minus-icon {
    border-bottom: 2px solid #000;
    display: inline-block;
    height: 2px;
    width: 15px;
    margin-top: 1px;
    position: relative;
    top: -7px;
}
.discount-input a:hover {
    color: #777;
}
.shoping-btn a{
	padding: 5px 30px;
}
.shoping-btn .buy-btn:hover{
	background-color: #ea4335;
	color: #fff !important;
}
.about-item li{
	list-style: disc;
}
.product-offer-images .deal-off {
    top: 2px;
    right: 0;
}
.product-offer-images .deal-off span {
    padding: 3px 5px;
}
.add-to-cart-btn a {
    padding: 5px 10px;
}
.add-to-cart-btn a:hover {
   color: #fff !important;
    background-color: #EA4335;
}
#product-add-cart-modal .modal-body{
	padding:0;
}
#product-add-cart-modal .modal-dialog{
	max-width:400px;
}
.remove-text a:hover{
	color: #777;
}
.product-detail-categories{
	padding-left:10rem;
}
.progress-bar{
	background: 0;
}
.progress-bar-1, .progress-bar-2, .progress-bar-3, 
.progress-bar-4, .progress-bar-5{
	height:32px;
}
.progress-bar-1 .progress-bar{
	width:95% !important;
	background-color: #b59e5c;
}
.progress-bar-2 .progress-bar{
	width:40% !important;
	background-color: #b59e5c;
}
.progress-bar-3 .progress-bar{
	width:30% !important;
	background-color: #b59e5c;
}
.progress-bar-4 .progress-bar{
	width:20% !important;
	background-color: #b59e5c;
}
.progress-bar-5 .progress-bar{
	width:15% !important;
	background-color: #b59e5c;
}
.customer-reviews-textarea textarea{
	resize: none;
}
.submit-btn a{
	padding:7px 40px;
}
.customer-image img{
	width: 30px;
    height: 30px;
    border-radius: 50%;
}
.product-detail-slider .slick-prev{
    left:-15px;
    background-color: #ea4335 !important;
    width: 50px;
    height: 40px;
    display: inline-block;
    color: #fff !important;
    border-radius: 4px;
    z-index: 1;
}
.product-detail-slider .slick-prev:before{
font-family: FontAwesome;
    font-size: 40px;
    left: 5px;
    position: absolute;
    top: -3px;
    opacity: 1;
}
.product-detail-slider .slick-next{
    right:-15px;
    background-color: #ea4335 !important;
    width: 50px;
    height: 40px;
    display: inline-block;
    color: #fff !important;
    border-radius: 4px;
    z-index: 1;
}

.product-detail-slider .slick-next:before{
font-family: FontAwesome;
    font-size: 40px;
    right: 5px;
    position: absolute;
    top: -3px;
    opacity: 1;
}
.slider-review-listing{
	top:5%;
    right: 0;
}
.slider-review-listing .reviews-text {
    background: rgba(0,0,0,.6);
    width: 130px;
    height: 60px;
}
